# 泰坦尼克数据分析

## 基本流程 概括

0. 环境配置
1. 加载泰坦尼克号生存数据
2. 展示基本数据指标
3. 选择多个自变量并单独展示其与因变量（是否幸存）的关系
4. 多个自变量两两组合并展示其与因变量的关系
5. 多个自变量三三组合并展示其与因变量的关系
6. 给出初步结论
7. 验证结论的准确性
8. 数据分析总结

## 环境配置

In [1]:
import sys,os
import numpy as np
import pandas as pd

%matplotlib inline

## 加载数据

In [2]:
titanic = pd.read_csv('data_set/titanicdatabank/titanic-data.csv')

## 展示数据基本指标

In [6]:
titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [5]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## 字段分析

* PassengerId
	* 乘客唯一id
	* 递增的，应该没有业务意义；
	
* Survived
	* 乘客是否幸存
	* 这个是因变量，评估数据分析机器学习的指标；
	
* Pclass
	* 船票等级1：头等舱,2：商务舱,3：经济舱
	* 可以分析，也许更高级的船舱有更好的安全设施或者更方便逃生，可以跟价钱联合来更加细分分析；
	* link -- Fare
	
* Name
	* 乘客姓名
	* 自身无分析价值，但是可以用于辅助age，sex字段的补全工作，以及社会地位的估计（例如master）
	* link -- age,sex,social position(new)
	
* Sex
	* 性别
	* 女士优先，很重要的特征，也许配合年龄，可以实现小女孩，女性青年，大龄女性，大龄男性，男性青年，小男孩的细分分析
	* link -- age,people_part(小女孩，女性青年，大龄女性，大龄男性，男性青年，小男孩)
	
* Age
	* 年龄
	* 小孩和老人优先，很重要的特征，配合性别进行更细致的分析
	* link -- sex
	
* SibSp
	* 兄弟姐妹丈夫妻子人数
	* 也许兄弟姐妹更多的人获救的可能性越大

* Parch
	* 父母孩子人数
	* 也许有父母孩子的人更倾向于救父母和孩子先，自己获救的几率会下降

* Ticket
	* 船票
	* 不知道咋整

* Fare
	* 船票价格
	* 可以根据pclass进行进一步的价钱细分

* Cabin
	* 船舱号码
	* 这个由于没有其他数据，不知道具体位置，但是可以通过船票的值来猜测是否跟在船上的位置有关；
	* 有缺失的问题看是否可以通过pclass和fare来补全
	* link -- pclass,fare

* Embarked
	* 登陆港口
	* 也许各个港口代表的人群不一样，也许各个港口的人更倾向于救助自己港口的人，老乡之类的关心，或者同一个港口经济情况更接近；

## 单个变量

## 双变量

## 三变量

## 初步结论

## 验证结论

## 项目总结